## Editors (VSCode for Flutter, .idea (Goland) for BFF and .zed for everything else and monorepo management)
.vscode/
.idea/
.zed/

## Secrets / keys
age-key.txt
infra/tofu/age-key.txt

## OpenTofu / Terraform
*.tfstate
*.tfstate.*
.terraform/

## Environment files
.env
.envrc
infra/.env