# Postgres Service
POSTGRES_PORT=5432
POSTGRES_SHM_SIZE=1024mb
POSTGRES_ADMIN_USER=admin
POSTGRES_ADMIN_PASSWORD=admin_secret

# Postgres Kratos
KRATOS_POSTGRES_PASSWORD=kratos_secret
KRATOS_DSN="postgres://kratos:${KRATOS_POSTGRES_PASSWORD}@postgres:${POSTGRES_PORT}/kratos_db?sslmode=disable"

# Postgres BFF
BFF_POSTGRES_USER=bff
BFF_POSTGRES_PASSWORD=bff_secret
BFF_POSTGRES_DB=articles_db
