# Postgres
POSTGRES_PORT=5432
POSTGRES_SHM_SIZE=1024mb
POSTGRES_ADMIN_USER=admin
POSTGRES_ADMIN_PASSWORD=admin_secret

# Kratos DB user
KRATOS_POSTGRES_PASSWORD=kratos_secret
KRATOS_DSN="postgres://kratos:${KRATOS_POSTGRES_PASSWORD}@postgres:${POSTGRES_PORT}/kratos_db?sslmode=disable"

# BFF DB user
BFF_POSTGRES_USER=bff
BFF_POSTGRES_PASSWORD=bff_secret
BFF_POSTGRES_DB=articles_db

# Redis
REDIS_PORT=6379

# BFF (Backend)
BFF_PORT=5050
BFF_REDIS_GROUP_NAME=bff-group
BFF_REDIS_CONSUMER_NAME=bff-1

# Scraper
SCRAPER_BLOCK_MS=5000
SCRAPER_MAX_WORKERS=4
SCRAPER_MAX_RETRIES=3
SCRAPER_MIN_IDLE_TIME=60000

# Phonemizer
PHONEMIZER_BLOCK_MS=5000
PHONEMIZER_MAX_RETRIES=3
PHONEMIZER_MIN_IDLE_TIME=60000

# Google
GOOGLE_OAUTH_CLIENT_ID=""
GOOGLE_OAUTH_CLIENT_SECRET=""
