# encrypt with:
#   SOPS_AGE_KEY_FILE=infra/tofu/age-key.txt sops -e -i secrets/dev.enc.yaml
postgres_password: 57319981b3c3e1569cd5689b28f71f39
postgres_user: admin
postgres_db: readintent_dev
kratos_secret: b96a9cfa322402d16e89995805c00de2
kratos_cookie_secret: 9d35581eb49f15195b2e551f56c90d5d
bff_jwt_secret: a45f6daa25c3f8f92555d3249cab41ce
dockerhub_username: gogotchuri
dockerhub_token: dckr_pat_nXJGNiwcuUnpVvKHo4mpYpf0qKM
